<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Expense</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='flashStyle.css') }}">
</head>
<body>
    <center>
        <h2>Edit Expense</h2>

        <form method="POST" action="{{ url_for('edit_expense', id=id) }}">
            {{ form.hidden_tag() }}

            {{ form.expense_name.label }} <br>
            {{ form.expense_name }} <br>

            {{ form.expense_amount.label }} <br>
            {{ form.expense_amount }} <br>

            {{ form.expense_category.label }} <br>
            {{ form.expense_category }} <br>

            {{ form.expense_description.label }} <br>
            {{ form.expense_description }} <br><br>

            {{ form.submit() }}

        </form>
    </center>
</body>
</html>
