<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='flashStyle.css') }}">
</head>
<body>
    <center>
    <!-- Flash messages -->
    {% with messages = get_flashed_messages(with_categories=True)%}
    {% if messages %}
        <ul class ='flashes'>
        {% for category, message in messages %}
            <li class = "{{category}}">{{message}}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    </center>
    <!-- form -->
    <center>
        <form method="POST" action="{{url_for('login')}}">
            {{ form.hidden_tag() }}

            {{ form.username.label }} <br>
            {{ form.username(size=20,placeholder='Enter the username') }} <br>

            {{ form.password.label }} <br>
            {{ form.password(size=20, placeholder='Enter the password') }} <br> <br>

            {{ form.submit() }}
        </form>
    </center>
</body>
</html>