<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Expenses</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='flashStyle.css') }}">
</head>
<body>
  <div class="container">
    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        <ul class="flashes">
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <h2>Your Expenses</h2>

    <table>
      <tr>
        <th>ID</th>
        <th>Expense</th>
        <th>Amount (PKR)</th>
        <th>Category</th>
        <th>Description</th>
        <th>Options</th>
      </tr>
      {% for expense in expense_data %}
      <tr>
        <td>{{ expense[0] }}</td>
        <td>{{ expense[1] }}</td>
        <td>{{ expense[2] }}</td>
        <td>{{ expense[3] }}</td>
        <td>{{ expense[4] }}</td>
        <td>
          <a href="{{ url_for('edit_expense', id=expense[0]) }}" class="btn btn-primary">Edit</a>
        </td>
      </tr>
      {% endfor %}
    </table>

    <br>
    <a href="{{ url_for('add_expense') }}" class="btn btn-success">+ Add New Expense</a>
    <a href="{{ url_for('report') }}" class="btn btn-success">Monthly Report</a>
  </div>
</body>
</html>
