<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='flashStyle.css') }}">
</head>
</head>

<body>
    <center>
            <!-- Flash messages -->
        {% with messages = get_flashed_messages(with_categories=True)%}
        {% if messages %}
            <ul class ='flashes'>
            {% for category, message in messages %}
                <li class = "{{category}}">{{message}}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
         
        <!-- get data -->
        {% for expense in expense_data %}
        <form method="POST" action="{{ url_for('update_expenses', id = expense[0]) }}">
            {{ form.hidden_tag() }}

            {{ form.expense_name.label }} <br>
            {{ form.expense_name(size=20,placeholder="New expense") }} <br>

            {{ form.expense_amount.label }} <br>
            {{ form.expense_amount(size=18,placeholder="Add new amount in PKR") }} <br>

            {{ form.expense_category.label }} <br>
            {{ form.expense_category(size=20,placeholder="Food/Bill/Shopping etc") }} <br>

            {{ form.expense_description.label }} <br>
            {{ form.expense_description(size=20,placeholder="Write description") }} <br> <br>

            {{ form.submit() }}
         </form>            
         {% endfor %}
    </center>
</body>
</html>